.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.App-header {
  height: 5vmax;
  background-color: grey;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.App-header button{
  margin-right: 10px;
}