.Model {
    padding: 25px;
}

.Model-controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.Model-controls button{
    border-radius: 1rem;
    background: transparent;
}

.Model-controls button:hover{
    background: grey;
    outline: 0;
}